html, body, content{
    height: 100%;
}

.content{
    width: 95%;
    position: relative;
    top: 60px;
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    /*background-color: #d9edf7;*/
    padding: 10px;
}

.abj-card{
    height: 400px;
    float: left;
    margin: 10px;
    width: 250px;
    /*border: solid 1px #b7b5b2;*/
    border-top: 8px solid #343537;
    /*box-shadow: 0px 0px 1px 1px rgba(100, 104, 107, 0.28);*/
    box-shadow: 0.5px 2px 4px 0 #bdbdbd;
    padding: 20px;
    transform: translate3d(0, 0, 0);
    transition: .5s;
}
.abj-card:hover{
    transform: translate3d(0, -8px, 0);
    transition: .5s;
}

.abj-thumbnail{
    /*background-image: url("../img/panic.png");*/
    height: 50%;
    width: 100%;
    background-size: 100% 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.abj-description{
    width: 100%;
    height: 30%;
    padding: 10px;
}

.abj-handle-bar{
    border-top: 1px solid #e6e6e6;
    height: 10%;
}
.abj-handle-bar a{
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    color: rgba(15, 37, 64, 1);
    transition: .2s;
    text-align: center;
    line-height: 37px;

}
.abj-handle-bar a:hover{
    text-decoration: none;
    color: #FBBC05;
}
.abj-handle-bar a::before, a::after{
    content: '';
    transform: translateX(0px);
    position: absolute;
}
.abj-handle-bar a:hover::before{
    content: '[';
    transform: translateX(-12px);
    transition: transform .2s;
}
.abj-handle-bar a:hover::after{
    content: ']';
    transform: translateX(10px);
    transition: transform .2s;
}

#not-found-div{
    width: 120px;
    margin: 0 auto;
    display: none;
}
#not-found-div div{
    font-size: 20px;
    color: #888;

}

#search_input{
    height: 30px;
    width: 300px;
    position: relative;
    outline: none;
    left: 50px;
    border: solid 1px rgba(183, 183, 183, 0.54);
    top: 8px;
    padding: 10px;
}

.navigator{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #FAFAFA;
    border-bottom: solid 1px rgba(226,229,231,0.69);
}